* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url(Image.jpg)
}

.rabbani {
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
}

.container {
  width: 70vmin;
  height: 70vmin;
  display: flex;
  flex-wrap: wrap;
  gap: 2vmin;
}

.button-option {
  background: #e7dba3;
  height: 22vmin;
  width: 22vmin;
  border: none;
  border-radius: 6px;
  font-size: 12vmin;
  color: #1c7fe2;
  box-shadow: 0 0 15px rgba(209, 46, 46, 0.1);
}

#restart {
  font-size: 1.3em;
  padding: 1em;
  border-radius: 6px;
  background-color: #00376b;
  color: #799a00;
  border: none;
  position: relative;
  margin: 1.5em auto 0 auto;
  display: block;
}

.popup {
  background: linear-gradient(135deg, #5e517a, #479b69);
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  z-index: 4;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  font-size: 12vmin;
}

#new-game {
  font-size: 0.6em;
  padding: 0.5em 1em;
  background-color: #17f0d3;
  color: #b4e3a7;
  border-radius: 0.2em;
  border: none;
}

#message {
  color: #4e4848;
  text-align: center;
  font-size: 1em;
}
.popup.hide {
  display: none;
}
